* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.header {
  background-color: #333;
  padding: 10px 30px;
  font-size: 48px;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  color: #fff;
}

.number {
  margin-top: 48px;
  font-size: 68px;
}

.action {
  margin-top: 40px;
  margin-left: -10px;
}

.action > button {
  padding: 10px 30px;
  margin-left: 10px;
  font-size: 24px;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.action > button:hover {
  background-color: #333;
  color: #fff;
}
