@import url("https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Hina Mincho", serif;
}

body {
  height: 100vh;
  overflow: hidden;
}
/********************** Header *******************/
.App {
  background-color: #e8eaed;
  max-width: 500px;
  margin: 50px auto;
  border-radius: 10px;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
}

.group {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
input {
  padding: 15px;
  background-color: #fff;
  border-radius: 10px;
  border: none;
  width: 100%;
  font-size: 24px;
}

select {
  border: none;
  background-color: #fff;
  border-radius: 10px;
  font-size: 24px;
  width: 60%;
}

input:focus,
select:focus {
  outline: none;
}
button {
  background-color: #198754;
  width: 30%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 24px;
}

header input,
header select,
header button {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}

/************************ Main ***************************/

main {
  margin-top: 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  height: 60vh;
  overflow-y: scroll;
  padding: 10px;
}

ul#todo {
  list-style: none;
  margin-top: 50px;
}

/**********TODO ITEM***********/

.todo-item {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.22), 0 4px 4px rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  font-size: 24px;
}

p.content {
  font-weight: bold;
  word-wrap: none;
}

input[name="status"] {
  width: 30px;
  height: 30px;
}

.body-todo {
  display: flex;
  justify-content: space-between;
}

.tag-item {
  display: inline-block;
  background: #198754;
  margin-right: 20px;
  padding: 2px 4px;
  color: #fff;
  border-radius: 5px;
  font-size: 18px;
}

span.start,
span.end {
  font-size: 18px;
}
.action {
  position: relative;
  width: 30%;
}

.action > img.edit {
  position: absolute;
}

.action > img.delete {
  position: absolute;
  left: 50%;
}

.action > img.delete:hover,
.action > img.edit:hover {
  cursor: pointer;
  width: 50px;
}
